@import "../base_colors.scss";
$errorColor: #d32c31;

// Hide input type number spinner
// http://goo.gl/lcCQgB
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-container {
  margin: 24px 0;
  width: 55%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-input,
.btn-filter-input {
  padding: 8px;
  border: solid 2px $secondary;
  border-radius: 4px;
  font-family: inherit;
  color: $secondary;
  background: none;
  line-height: 1.3;
  box-shadow: none;
  font-weight: 400;

  &:focus {
    border-color: $primary;
    outline-color: $secondary;
  }

  &[disabled] {
    color: #a8a8a8;
    cursor: not-allowed;

    // Fix iOS color for being too opaque
    // https://github.com/ImBobby/suit-baze/issues/98
    -webkit-text-fill-color: #a8a8a8;
  }
}
.filter-wrapper {
  margin: 24px 0;
  width: 100%;
  border-bottom: 3px solid $secondary;
  border-top: 3px solid $secondary;

  .filter-checkbox {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 40%;
    margin: 0 auto;
    .checkbox-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: fit-content;
      p {
        padding-left: 15px;
      }
    }
  }
}

.error-message {
  color: $errorColor;
  font-size: 12px;
}
